#main {
  background-color: rgb(226, 225, 225);
  border-radius: 0.75%;
}
.title {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 0;
  margin-top: 30px;
  border-top: 25px solid rgb(226, 225, 225);
  border-radius: 10%;
}
h1 #title {
  font-size: 24px;
}
h5 {
  font-size: 16px;
}
#wiki-entry {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
#img-div {
  text-align: center;
  background-color: white;
  border-left: 20px solid rgb(226, 225, 225);
  border-right: 20px solid rgb(226, 225, 225);
}
#img-caption {
  padding: 20px 10px 20px 10px;
  font-family: serif;
}
h3 {
  text-align: center;
}
#tribute-info {
  font-size: 18px;
  font-size: 2vh;
}
li {
  margin-bottom: 15px;
}
ul {
  max-width: 500px;
  text-align: left;
  margin: auto;
}
ul li {
  margin: auto;
  font-family: "Times New Roman", Times, serif;
  padding-bottom: 15px;
  padding-top: 5;
}
p,
figcaption {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  text-align: center;
  max-width: 650px;
  margin: 20px auto 0 auto;
}
img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
